# eltodo project .htaccess file
# $Id: .htaccess 181 2005-10-03 20:34:29Z aurelian $

# Configuration
# php_value auto_prepend_file /wwwroot/medick/trunk/boot.php

SetEnv MEDICK_APPLICATION_PATH /wwwroot/medick/applications/eltodo
SetEnv MEDICK_APPLICATION_NAME eltodo

php_value short_open_tag 1

#ErrorDocument 404 /todo.html
 
RewriteEngine on

# all files with .something are skipped
# RewriteCond %{REQUEST_URI} \..+$
# RewriteCond %{REQUEST_URI} !\.html$
# RewriteRule .* - [L]
# the others are redirected to the front web controller
# RewriteRule ^(.*)$ index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_URI} !^index.php/$
RewriteRule   ^([^i][^n][^d][^e][^x].*)$  index.php/$1/ [NS,L]

